
/*FOLHA DE ESTILO PÁGINA -  [Home]*/

body{
	background:url('https://vivianaribeiro.github.io/meu-site/fundo.jpg') repeat-x;

   font-family: Arial, Helvetica, sans-serif;
  
  }

  /*COPIA MODELO
  body {
    background-color: #9c1d1d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: #f4f4f4;
    --cor-destaque: #87d0a6;
  }*/


  div#header{
    width: 1050px;
    height: 140px;
    /*background: rgba(226, 49, 18, 0.753);*/
    margin: -15px auto;
   
  
    float:center;
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    
    padding-inline: 60px;
    
  }

  div#triangulo_E{
    width: auto;
    height: auto;
    position:absolute;
    top: 90px;
    margin-left: -60px;
    display: block;
    /*border: 6px solid #080808;*/
  }

  div#triangulo_D{
    width: auto;
    height: auto;
    position:absolute;
    top: 90px;
    margin:0px 1071px;
    display: block;
    /*border: 6px solid #080808;*/
  }


div#banner{
  width: 1050px;
  height: 230px;
  display: block;
  float:center;
  /*background: yellowgreen;
  
  background: url("https://vivianaribeiro.github.io/meu-site/banner_perfil.png") no-repeat;*/
  margin: 10px auto;
  position: relative;
   
}

img#banner_img2{
  width: 492px;
  height: 200px;
  position:relative;
  top: 20px;
  margin-left: 298px;
  display: block;
}


div#main{
  width: 1050px;
  height: auto;
  /*height: 1100px;*/
  /*background: rgba(30, 125, 180, 0.753);*/
  display: flex;
  float:center;
  
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  color:#383838;
 
}

.titulo__main_inicial{
  padding-top: 30px;
  font-size: 22px;
  font-weight:bold;
  text-align: center;
}

.titulo__main_escopo{
  font-size: 22px;
  
  text-align: justify; 
  padding-block-end: 60px;
}

#link_home {
  
  color:#1755a5;
  
  }


div#footer{
  width: 1050px;
  height: 65px;
  background:  rgb(251, 224, 19);
  margin: -15px auto;
 

  float:center;
  font-family: Arial, Helvetica, sans-serif;
  color:#383838;
  text-align: center; 
  padding-inline: 60px;
  
}

.footer_criador{
  padding-top: 25px;
  font-size: 18px;
}
