/*FOLHA DE ESTILO PÁGINA -  [Biografia]*/

body{
	background:url('https://vivianaribeiro.github.io/meu-site/fundo.jpg') repeat-x;

   font-family: Arial, Helvetica, sans-serif;
  margin:0px;
  width:auto;


  }

  /*COPIA MODELO
  body {
    background-color: #9c1d1d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: #f4f4f4;
    --cor-destaque: #87d0a6;
  }*/


  div#header{
    width: 1050px;
    height: 140px;
    /*background: rgba(226, 49, 18, 0.753);*/
    margin: -15px auto;
   
    float:center;
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    padding-inline: 60px;
  }

  div#menu_nav{
    width: auto;
    height: auto;
    font-style:italic;
    font-display:3px;

    list-style:none;
   
    /*padding: 50px;*/
    float:left;
    position:absolute;
    top: 30px; 
    margin-left: 0px;
    padding-inline: -5% 0%;
    writing-mode: horizontal-tb;

  }

  #menu ul{
    margin-left:130px;
    
  }
  #menu li{
    float:left;
    margin-right: 50px;
    text-decoration-style:dotted;
   
    text-decoration-color: #e0811b;
    list-style: none;
  
  }
  
  #menu li a{
    text-decoration:none;
    color:#383838;
    
    border-radius: 0px;
    margin-right: auto;
    padding: 7px;
    font-size: 23px;
    padding-top:8px;
    }
  
  #menu li a:hover{
    border-top: 5px solid #FC0;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    writing-mode:horizontal-tb;
  }

  #menu li a.ativa{
    border-top: 5px solid #383838;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(251, 224, 19);
  }


  div#triangulo_E{
    width: auto;
    height: auto;
    position:absolute;
    top: 90px;
    margin-left: -60px;
    display: block;
    /*border: 6px solid #080808;*/
  }

  
  div#triangulo_D{
    width: auto;
    height: auto;
    position:absolute;
    top: 90px;
    margin:0px 1071px;
    display: block;
  } 


div#banner{
    width: 1050px;
    height: 315px;
    /*background: rgb(251, 224, 19);*/
    margin: 0px auto;
    display: 30px flex;
    float:center;
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    text-align: center; 
    padding-inline: 60px;
    /*
    background-color: #1e0396;*/
  }

img#banner_img1{
  width: 250px;
  height: 250px;
  position:relative;
  top: 10px;
  margin-left: 80px;
  border-radius: 50%;
  background-color: black ;
  border: 6px solid #fbe013;
  display:block;
}

img#banner_img2 {
  width: 470px;
  height: auto;
  position:absolute;
  top: 175px;
  margin-left: -85px;
}

h1#menu_titulo{
 
  position:absolute;
  top: 210px; 
  right: 40px;
  margin-right: 220px;
  /*display: inline-flex;
  float:right;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight:bold;
  color:#e0811b;
}
/*
div#banner img{
  width: 190px;
  height: 190px;
  border: 1px coral;
  /*display: block;
  float:center;
  margin: 0px auto;
}*/

div#titulo {
  width: 1050px;
  height: 60px;
  /*background: rgb(251, 224, 19);*/
  margin: 0px auto;
  display: 30px flex;
  float:center;
  font-family: Arial, Helvetica, sans-serif;
  color:#383838;
  text-align: center; 
  padding-inline: 60px;
  background-color: #1bb9e0;
}

.titulo_topico{
  padding: 15px;
  font-size: 30px;
}


/*
#menu{
  list-style: none;
  margin-top: 15px;
  padding: 50px;
  float:left;
  position:absolute;
  top: -0px; 
  left: 1050px;
  
  padding-inline: 65px;
  padding-block: 56px;
}
*/



div#main{
  width: 1050px;
  height: 535.29px;
/*height: 715px;
height: 1100px;
background: rgba(30, 125, 180, 0.753);*/
display: flex;
float:center;
font-size: 20px;

margin: 0px auto;
font-family: Arial, Helvetica, sans-serif;
color:#383838;
text-align: justify; 
padding-inline: 60px; 
overflow-y: scroll;
}

.titulo__main_inicial_s2{
  padding-top: 30px;
  font-size: 22px;
  font-weight:bold;
  
}

.titulo__main_escopo_s2{
  /*font-size: 30px;
  
  text-align: center;*/
  padding-block-end: 60px;
  
}

.fonte_pesquisa{
  font-size: 16px;
  text-align: center; 
}

div#banner_menu_separador{
  width: 1050px;
  height: 40px;
  /*
  background:  rgb(62, 19, 251);*/
  margin: -15px auto;
}


div#footer{
  width: 1050px;
  height: 65px;
  background:  rgb(251, 224, 19);
  margin: -15px auto;
 

  float:center;
  font-family: Arial, Helvetica, sans-serif;
  color:#383838;
  text-align: center; 
  padding-inline: 60px;
  
}

.footer_criador{
  padding-top: 25px;
  font-size: 18px;
}
